numpy
pandas
python-dotenv
mysql-connector-python
pymysql
scikit-learn
seaborn
catboost
xgboost
mlflow


# this below line direct trigger to setup.py file so comment it or if you wamnt to uncomment it then handle this on setup.py
#-e .